body {
    background-color: darkslategray;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: darkturquoise;
    line-height: 1.5;
    font-size: 16px;
}

.hero {
    padding: 3% 4%;
    background-color:darkolivegreen;
    color:maroon;
}
.app-title {
    max-width:f 75%;
}

.form-input {
  border: 2px solid var(--light-dark);
  border-radius: var(--border-radius);
}

.btn {
    font-size: 1.3rem;
    text-decoration:none;
    padding: 6px 5px;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: darkslategrey;
    border: none;
    outline: none;
    background-color:violet;
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);
  }
  
   .btn:hover {
    color: black;
    background-color: darkred;
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
  }

.format-select {
    background-color:lightslategrey;
    color:teal
}